:root {
  // Cores do logo da dnc
  --light-blue: #a0c6f7;
  --blue: #00abff;
  --darker-blue: #0c70f2;
  // Cores do fundo da dnc
  --dark-background: #303030;
  --light-background: #efebe4;
  // Fonte da dnc
  font-family: Gotham, Sans-serif;
}

h1,
h2 {
  color: white;
}

body {
  background: linear-gradient(
    180deg,
    var(--dark-background) 5%,
    rgba(147, 147, 147, 1) 80%,
    var(--light-background) 98%
  );
}

.v-btn {
  text-transform: uppercase;
  font-weight: 400 !important;
}

.v-table {
  width: 100%;
  border-radius: 8px !important;
  color: white !important;
  font-weight: 600;
}
.v-table tbody tr:nth-child(odd) {
  background-color: var(--blue);
}
.v-table tbody tr:nth-child(even) {
  background-color: var(--light-blue);
}
.v-table thead tr > * {
  background-color: #383838 !important;
  color: white !important;
  font-weight: 600 !important;
  text-transform: uppercase;
}
